<div class="jb_home">
    <div class="jb_goback" ng-click="findPass.goBack()"><&nbsp;&nbsp; 返回前一页</div>
    <br>
    <div class="jb_home_head">
        <div class="jb_active" ng-class="{ 'jb_active' : findPass.current == 1 }" ng-click="findPass.phoneAndEmailFind(findPass.current)">手机找回</div>
        <div ng-class="{ 'jb_active' : findPass.current == 2 }" ng-click="findPass.phoneAndEmailFind(findPass.current)">邮箱找回</div>
    </div>
    <div class="jb_loginContent">
        <div ng-if="findPass.current == 1" class="jb_login_warp">
            <div class="jb_login_left find_pass_phone fl">
                <div class="jb_form">
                    <div class="jb_ipt">
                        <input
                            type="text"
                            ng-maxlength="11"
                            ng-minlength="11"
                            ng-model="findPass.data.registerId"
                            ng-pattern="/^1[3|5|9|8][0-9]\d{4,8}$/" required
                            placeholder="请输入注册手机号">
                        <input
                            style="width: 61%;"
                            type="text"
                            ng-model="findPass.verifyCode.code"
                            placeholder="请输入验证码">
                        <button
                            ng-disabled = 'findPass.btnDisabled'
                            ng-click="findPass.getCode()"
                            ng-cloak="">
                            {{paracont}}
                        </button>
                    </div>
                    <div class="jb_btn">
                        <button ng-click="findPass.NextStep(findPass.current)">下一步</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="findPass.current == 2" class="jb_login_warp">
            <div class=" find_pass_email">
                <div class="jb_ipt">
                    <input
                        type="text"
                        ng-pattern="/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/" required
                        ng-model="findPass.data.registerId"
                        placeholder="请输入注册邮箱号">
                    <input
                        style="width: 61%;"
                        type="text"
                        ng-model="findPass.verifyCode.code"
                        placeholder="请输入验证码">
                    <button
                        ng-disabled = 'findPass.btnDisabled'
                        ng-click="findPass.getCode()"
                        ng-cloak="">
                        {{paracont}}
                    </button>
                </div>
                <div class="jb_btn">
                    <button
                        ng-click="findPass.NextStep(findPass.current)">
                        下一步
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
