<div class="jb_aboutUs_bg"></div>
<div class="jb_aboutUs">
    <div class="jb_aboutUs_content">
        <h3>关于我们</h3>
        <p>吉宝置业是吉宝企业的子公司。吉宝置业所开发的住宅项目和投资级商用项目屡获殊荣，并保持高标准的企业治理和透明度。</p>

            <p>
                公司业务遍布亚洲各地，目前以新加坡、中国为核心市场，视越南、印尼为增长市场。
                <br/>
                吉宝置业是亚洲优秀的住宅开发商，在新加坡和海外所拥有的地块可建造超过6万套住宅。同时，作为新加坡优秀的优质办公楼开发商，吉宝置业开发了多个具有代表性的建筑，如滨海湾金融中心、海洋金融中心和莱佛士码头一号等，为新加坡城市的天际线增光添彩。
                <br/>
                吉宝置业致力于拓展主要亚洲城市的商业项目。这包括中国的上海、北京和天津、越南的胡志明市、印尼的雅加达、缅甸的仰光和菲律宾的马尼拉。
            </p>
    </div>
    <div class="jb_aboutUs_img">
        <div class="img1">
            <dl>
                <dt>愿景</dt>
                <dd>
                    作为房地产行业翘楚，为新一代塑造美好未来。
                </dd>
            </dl>
        </div>
        <div class="img2">
            <dl>
                <dt>使命</dt>
                <dd>
                    我们在经营理念与核心价值观的引领下，凭借创新的房地产解决方案，为所有利益相关者创造价值。
                </dd>
            </dl>
        </div>
    </div>
</div>
<!--<div class="jb_about_us" ng-click="aboutUs.LatestActivity()">-->
    <!--最新活动-->
<!--</div>-->
